
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Bienvenido</h1>
                <p> Aquí puedes hacer cosas como:</p>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Inicio </li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->
<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Subir<sup style="font-size: 10px"></sup></h3>
                        <h3>archivos<sup style="font-size: 10px"></sup></h3>
                      
                    </div>
                    <div class="icon">
                        <i class="fa fa-refresh" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer"></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h2>Maneja</h2>
                        <h2>Usuarios</h2>
                    </div>
                    <div class="icon">
                        <i class="fa fa-users" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer"></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">

                        <h2>Descarga</h2>
                        <h2 >Archivos</h2>
                    </div>
                    <div class="icon">
                        <i class="fa fa-tasks" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer"></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                    <div class="inner">
                        <h2>Archivos</h2>
                        <h2>Seguros</h2>
                    </div>
                    <div class="icon">
                        <i class="fa fa-plug" aria-hidden="true"></i>

                    </div>
                    <a href="#" class="small-box-footer"> <i class=""></i></a>
                </div>
            </div>
            <!-- ./col -->
        </div>
        <!-- /.row -->
        <!-- Main row -->
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>

<!-- /.content -->
